/* Big tablets to 1200px (width smaller than the 1140px row - 1024px-1140px) */

@media only screen and (max-width: 1200px) {

    .header__title {margin-top: 50%;}

    .header__logo_white,
    .header__logo_black { margin-left: 3%; }

    .section-map__crown-list {
        width: 50%;
        margin-top: 1.8%;

        ul li { font-size: 89%; }
    }

    .section-about-us__about-us-box { margin-right: 5%; }

    .section-about-us__features_mobile-change { h3 { br { display: block; } } }
}

/* Small tablets to big tablets: from 768px to 1023px */

@media only screen and (max-width: 1023px) {

    body { font-size: 18px; }

    section { padding: 60px 0; }

    .header__logo_white { margin-top: 2%; }

    .header__nav-list { margin: 4% 0 0 2%; }

    .section-map__crown-list ul li { font-size: 85%; }

    .section-map h2:after { margin-top: 2%; }

    .section-photos-crown {
        padding: 5% 0 10% 0;
        h3 { font-size: 89%; }
    }

    .section-photos-crown__caption h3 div { font-size: 90%;}

    .section-about-us__about-us-box { margin: 0 10% 0 -5%; }
}

/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {

    body { font-size: 16px; }

    section { padding: 30px 0; }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

     .header__nav {
        float: none;
        margin-right: 0px;
    }

    .header__nav-icon_mobile {
        display: block;
        font-size: 180%;
    }

    .header__nav-list {
        display: none;
        width: 320px;
        margin-top: 0px;

        li { display: block; }
        li a:link,
        li a:visited {
            display: block;
            border: 0;
            padding: 3% 0;
            font-size: 100%;
        }
    }

    .sticky { .header__nav-icon_mobile { i { color: #555; } } }

    .header__logo_black { margin: 4% 0 0 3%; }

    h1 { font-size: 170%; }
    h2 { font-size: 150%; }
    h3 {
        font-size: 75%;
        font-weight: 300;
    }

    .section-map {
        width: 100%;
        height: auto;
        position: relative;

        h2 { margin-bottom: 20px; }
    }

    .section-map__map_mobile {
        display: block;
        width: 100%;
        height: 300px;
        position: relative;
        z-index: 0;
    }

    .section-map__map { display: none; }

    .section-map__crown-list {
        position: relative;
        width: 100%;
        height: auto;

        .span-1-of-2 { width: 50%;}

        ul  { li { font-size: 90%; } }
    }

    .new-label { font-size: 67%; }

    .photos-crown-showcase-mobile { display: inline-block; }

    .section-photos-crown__photos-all,
    .section-photos-crown__photos .more-photos,
    .section-photos-crown__button_ghost_more-hide { display: none; }

    .section-photos-crown__photos-crown-showcase_mobile {
        display: inline-block;
        font-size: 250%;
    }

    .section-quote {
        height: 250px;
        .row {
            width: 80%;
            font-size: 100%;
        }
    }

    .section-about-us {
        margin-bottom: -15%;

        h2 { margin-bottom: 8%; }

        h3 {
            font-size: 90%;
            font-weight: 300;
        }
    }

    .section-about-us__about-us-box { margin: 0 10% 0 -12%; }

    .span-1-of-5 { width: 18.72%;}

    .section-about-us__icon {
        width: 50px;
        margin-bottom: 3%;
    }

    .section-about-us__features,
    .section-about-us__features_mobile-change {
        width: 200px;
        height: 150px;
        text-align: center;

        img {
            margin-left: 38%;
        }
    }

    .footer__row { margin: 5% 5% 0 5%; }

    .footer__nav { margin-top: -5%; }

    .footer__social-links { margin-top: -10%; }
}
/* Small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {

    h2 { padding-bottom: 5%; }

    .header__logo_white,
    .header__logo_black { height: 50px; }

    .header__nav-list { padding-left: 5%; }

    .header__title { margin-top: 75%; }

    .header__scroll-down { padding-top: 2%; }

    .section-results__result { margin-left: 20%; }

    .section-map__crown-list { display: none; }

    .section-quote {
        p {
            width: 90%;
            font-size: 120%;
        }
    }

    .section-about-us__about-us-box { margin: 0 10% 0 -20%; }

    .section-about-us__features_only-pc { display: none; }

    .span-1-of-5 { width: 33%;}

    .footer__nav {
        float: none;
        margin-left: auto;
        li {
            margin-right: 3%;
        }
    }

    .footer { padding: 2% 0 2% 0; }

    .footer__icons-src { margin: 2% auto; }
}
