$font-color: #555;
$icon-color: #888;
$facebook-color: #3b5998;
$instagram-color: #bc2a8d;

$font-family: 'Lato', 'Arial', sans-serif;
$font-size: 20px;

@function getColumnWidth($width, $columns,$margin){
    @return ($width / $columns) - ($margin * 2);
}

@import 'styles';
@import 'grid';
@import 'queries';



